**/build/**
.cache/**
*.xml
**/.vscode
**/.vs
__pycache__
.pytest_cache
CMakeUserPresets.json
out
*.log
clients.json
server.json
*.aps
*.res
CMakeSettings.json
server/**
certificates
tests/server
.env