Package: aerionuaserver
Version: version-number
Section: base
Priority: optional
Architecture: amd64
Maintainer: Lennard Kloock <27106448+SirWalross@users.noreply.github.com>
Depends: libappindicator3-1, libwebkit2gtk-4.0-37, libgtk-3-0
Description: Aerion - a OPC-UA Server for MELFA Robots and PLCs
 Implements the OPC-UA Robotics Companion Specification for MELFA Robots
